# Environments
.env
**/.env
E-commerce/backend/.env

# Python Caches
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/
ENV/

# IDE / Editor folders
.vscode/
.idea/
.sixth/
.project
.settings/

# Database files / SQL dumps
*.sql
mysql_data/
**/mysql_data/

# OS files
Thumbs.db
Desktop.ini
.DS_Store
